<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scc1.java_project.deliver_server.dao.BillStatisticsMapper">
<!--    <resultMap id="billOfLastMonthRM" type="scc1.java_project.deliver_server.POJO.BillOfLastMonth">
        <result property="payType" column="pay_type"/>
        <result property="count" column="bill_count"/>
        <result property="number" column="bill_number"/>
    </resultMap>-->

    <resultMap id="bill" type="scc1.java_project.deliver_server.dbEntity.Bill">
        <result property="orderId" column="order_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="batchNumber" column="batch_number"/>
        <result property="payType" column="pay_type"/>
        <result property="isPaid" column="is_paid"/>
    </resultMap>

    <select id="getLastMonthArrears" resultType="double" parameterType="long">
        SELECT SUM(charge) FROM bill
        NATURAL JOIN `order` NATURAL JOIN customer
        WHERE is_paid = 0
        AND PERIOD_DIFF(date_format(now(), '%Y%m'),date_format(order_create_time, '%Y%m')) &lt;= 1
        AND customer.customer_id = #{customerId};
    </select>
    <select id="getBillStatisticLastMonth"
            resultType="scc1.java_project.deliver_server.POJO.BillOfLastMonth"
            parameterType="long">
        SELECT
               customer_id AS customerId,
               COUNT(charge) as sendPacksCount,
               SUM(charge) as moneyNumber
        FROM bill NATURAL JOIN `order` NATURAL JOIN customer
        WHERE customer.customer_id = #{customerId}
        AND PERIOD_DIFF(date_format(now(), '%Y%m'), date_format(order_create_time, '%Y%m')) &lt;= 1
        AND pay_type = '月支付';
    </select>
    <select id="getTopConsumptionOfLastYear"
            resultType="scc1.java_project.deliver_server.POJO.ConsumptionOfLastYear">
        SELECT customer_id, customer_name, SUM(charge)
        FROM bill NATURAL JOIN `order` NATURAL JOIN customer
        WHERE DATE_SUB(CURDATE(), INTERVAL 365 DAY) &lt;= date(order_create_time)
        GROUP BY customer_id
        HAVING SUM(charge) >= ALL (
            SELECT SUM(charge)
            FROM bill NATURAL JOIN `order`
            WHERE DATE_SUB(CURDATE(), INTERVAL 365 DAY) &lt;= date(order_create_time)
            GROUP BY customer_id
        )
        ORDER BY SUM(charge) DESC;
    </select>

    <select id="getBills" parameterType="long"
            resultType="scc1.java_project.deliver_server.POJO.BillView">
        SELECT
            `order`.order_id AS orderId,
            order_create_time AS orderCreateTime,
            receive_name AS receiver,
            order_status AS orderStatus,
            is_paid AS isPaid,
            charge
        FROM
            bill
                LEFT JOIN `order` ON bill.order_id = `order`.order_id
        WHERE
            customer_id = #{customerId};
    </select>
</mapper>