<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scc1.java_project.deliver_server.dao.PackageMapper">
    <resultMap id="simpleOrderResultMap"
               type="scc1.java_project.deliver_server.POJO.SimpleOrderInfoBar">
        <result property="orderId" column="order_id" />
        <result property="orderCreateTime" column="order_create_time"/>
        <result property="receiveName" column="receive_name" />
        <result property="orderStatus" column="order_status" />
        <result property="sendDetailAddress" column="send_detail_address"/>
        <result property="receiveDetailAddress" column="receive_detail_address"/>
    </resultMap>
    <resultMap id="transportResultMap"
               type="scc1.java_project.deliver_server.dbEntity.Transport">
        <result property="transportId" column="transport_id"/>
        <result property="orderId" column="order_id"/>
        <result property="carrierId" column="carrier_id"/>
        <result property="carrierType" column="carrier_type"/>
        <result property="transportTimesOfCarrier" column="transport_times_of_carrier"/>
        <result property="inputTime" column="input_time"/>
        <result property="outputTime" column="output_time"/>
        <result property="nextCarrierId" column="next_carrier_id"/>
        <result property="nextCarrierType" column="next_carrier_type"/>
        <result property="transDetailMessage" column="trans_detail_message"/>
    </resultMap>
    <parameterMap id="package" type="scc1.java_project.deliver_server.dbEntity.Package"/>
    <parameterMap id="order" type="scc1.java_project.deliver_server.dbEntity.Order"/>
    <parameterMap id="bill" type="scc1.java_project.deliver_server.dbEntity.Bill"/>

    <select id="getSimpleOrderInfoBars"
            resultMap="simpleOrderResultMap"
            parameterType="long">
        SELECT
            `order`.order_id,
            order_create_time,
            receive_name,
            order_status,
            `order`.send_detail_address,
            `order`.receive_detail_address
        FROM
            `order`
        LEFT JOIN package ON `order`.package_id = package.package_id
        LEFT JOIN bill ON `order`.order_id = bill.order_id
        WHERE
            customer_id = #{customerId};
    </select>
    <select id="getTransports" resultMap="transportResultMap" >
        SELECT * FROM transport WHERE order_id = #{orderId} ORDER BY input_time;
    </select>
    <select id="getDamagePackOrderId" resultType="long" parameterType="long">
        SELECT DISTINCT transport.order_id
        FROM transport
        LEFT JOIN damage_record
                            ON transport.carrier_id = damage_record.carrier_id
                            AND transport.carrier_type = damage_record.carrier_type
                            AND transport.transport_times_of_carrier = damage_record.damage_record_time
        LEFT JOIN bill
                            ON transport.order_id = bill.order_id
        LEFT JOIN customer
                            ON bill.customer_id = customer.customer_id
        WHERE
	        customer.customer_id = #{customerId};
    </select>
    <select id="getTopNumberOfLastYear"
            resultType="scc1.java_project.deliver_server.POJO.ConsumptionOfLastYear">
        SELECT customer_id as customerId, customer_name as customerName, COUNT(charge) as number
        FROM bill NATURAL JOIN `order` NATURAL JOIN customer
        WHERE DATE_SUB(CURDATE(), INTERVAL 365 DAY) &lt;= date(order_create_time)
        GROUP BY customer_id
        HAVING SUM(charge) >= ALL (
            SELECT SUM(charge)
            FROM bill NATURAL JOIN `order`
            WHERE DATE_SUB(CURDATE(), INTERVAL 365 DAY) &lt;= date(order_create_time)
            GROUP BY customer_id
        )
        ORDER BY COUNT(charge) DESC;
    </select>

    <update id="delBill" parameterType="long" >
        update bill set is_paid = 1 where order_id = #{orderId};
    </update>
</mapper>