server:
  port: 8080
spring:
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .jsp
  datasource:
    url: jdbc:mysql://139.199.66.139:3306/database_system?characterEncoding=utf8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: MyNewPass4!
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
  mvc:
    view:
      suffix: .html
      prefix: /

mybatis:
  mapper-locations: classpath:mappers/*Mapper.xml
  type-aliases-package: scc1.java_project.deliver_server.POJO,;scc1.java_project.deliver_server.dbEntity
